// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

h1{
  margin-left:10px;
}

h3{
  margin-top:-14px;
  margin-left: 25px;
}

body{
  background: #EBEBEB;
  color: #AA915C;
  font-family: Garamond Premier Pro;
  font-size: 1.7em;

}

footer{
  margin-left:25px;
  
}
// a{
//   color:red;
// }

#main-content{
  width:500%
}



#postLink{
width: 10em;
margin-left:25px;
}

#postBlog{
  width: 35em;
  min-height: 100%;
  height: auto; 
   
}

#newContainer{
  width: 85em;
  height: 55em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;

}

#newTextField{
  margin-left: 55px;
}

#editContainer{
  width: 85em;
  height: 55em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;

}

#editTextField{
  margin-left: 55px;
}

#singleBlog{
  margin-top:30px; 
  margin-left:70px;
  margin-right:70px; 
  font-size:1.3em;
}

